# Bonus: Temperature Analysis I

In [85]:
import pandas as pd
from datetime import datetime as dt

In [86]:
# "tobs" is "temperature observations"
df = pd.read_csv("../Resources/hawaii_measurements.csv")

df['prcp'] = df['prcp'].fillna(0)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [87]:
# Convert the date column format from string to datetime
import datetime as dt
df['date'] = pd.to_datetime(df['date'])

df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [88]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397  0.00    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128  0.00    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [89]:
# Drop the date column
drop_df=df.copy()
drop_df.drop(columns=['date'],inplace=True)
drop_df.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397  0.00    73

### Compare June and December data across all years

In [117]:
from scipy import stats
from scipy.stats import ttest_ind

In [118]:
# Filter data for desired months
df['month_value'] = df['date'].dt.month
df

           station       date  prcp  tobs  month_value
0      USC00519397 2010-01-01  0.08    65            1
1      USC00519397 2010-01-02  0.00    63            1
2      USC00519397 2010-01-03  0.00    74            1
3      USC00519397 2010-01-04  0.00    76            1
4      USC00519397 2010-01-06  0.00    73            1
...            ...        ...   ...   ...          ...
19545  USC00516128 2017-08-19  0.09    71            8
19546  USC00516128 2017-08-20  0.00    78            8
19547  USC00516128 2017-08-21  0.56    76            8
19548  USC00516128 2017-08-22  0.50    76            8
19549  USC00516128 2017-08-23  0.45    76            8

[19550 rows x 5 columns]

In [119]:
df.dtypes

station                object
date           datetime64[ns]
prcp                  float64
tobs                    int64
month_value             int64
dtype: object

In [128]:
# Identify the average temperature for June
June_data=df.loc[df["month_value"]==6]

temp_June= June_data["tobs"]
avg_temp_June=temp_June.mean()
avg_temp_June

74.94411764705882

In [129]:
# Identify the average temperature for December
Dec_data=df.loc[df["month_value"]==12]

temp_Dec= Dec_data["tobs"]
avg_temp_Dec=temp_Dec.mean()
avg_temp_Dec

71.04152933421226

In [131]:
# Run paired t-test
ttest_ind(temp_June, temp_Dec)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis